<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">My Projects</title>
    <th:block th:replace="fragments/config::config"></th:block>
    
    <!-- include libraries(summernote lite version) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" integrity="sha512-ZbehZMIlGA8CTIOtdE+M81uj3mrcgyrh6ZFeG33A4FHECakGrOsTPlPQ8ijjLkxgImrdmSVUHn1j+ApjodYZow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js" integrity="sha512-lVkQNgKabKsM1DA/qbhJRFQU8TuwkLF2vSN3iU/c7+iayKs08Y8GXqfFxxTZr1IcpMovXnf2N/ZZoMgmZep1YQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src=" https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ko-KR.min.js"></script>
    <!-- bootstrap -->
    
    <!-- <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block> -->
</head>
<body>
	
    <div th:replace="fragments/topbar::topbar"></div>
    <div class="container_frame">
    	<div layout:fragment="content" class="content"></div>
    </div>
    <script src="/js/myPage.js"></script>
    <div th:replace="fragments/footer::footer"></div>
</body>
</html>