<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<!-- 여기서부터 content 붙여넣기 -->
	<div layout:fragment="content">
        <div class="new_board_r">
			<!-- <div class="news_board_r1"> -->
				<div class="picture_bottom">
					<div class="picture_list" th:if="${!#lists.isEmpty(board)}"
							th:each="board : ${board}">
						<div class="picture_list_img">
						<a class="open-modal project-info" href="/board/boardDetail?id=" th:attrappend="href=${board.id}">
							<img th:if="${!#strings.isEmpty(board.photo)}" th:src="${board.photo}" class="img-fluid" >
							<img th:if="${#strings.isEmpty(board.photo)}" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..."  class="img-fluid" >
							<h5 class="project-title" th:text="${board.title}"></h5>
						</a>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</div>
        <div class="paging-block paging-section">
			<th:block  th:each="page:${#numbers.sequence(startPage,endPage)}">
				<div class="paging-numbers">
					<a th:if="${page != nowPage}"
					th:href="@{/board/board(page=${page-1})}" th:text="${page}"></a>
					<strong th:if="${page==nowPage}" th:text="${page}" style="color: red"></strong>
				</div>
				
			</th:block>
		</div>
    </div>

</html>