<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
      
<head>
	<style type="text/css">
		a{
			color:black;
			
		}
		
		a:hover{
			color:#5DAAD4;
		}
		
	</style>
	<script th:inline="javascript">
		function boardDelete(){
			if(confirm("삭제하시겠습니까?")){
				var list = [[${board}]];
				alert("삭제되었습니다.");
				var myNews = list.id;
				var board = {
					id : myNews
				};
				
				var jsondata = JSON.stringify(board);
				
				deleteData(jsondata);
			}else{
				
			}
		}
		
		//데이터 삭제 메소드
		function deleteData(deletedata) {
			console.log(deletedata);
			const url = "/board/boardDelete"
			$.ajax({
				type : "DELETE",
				url : url,
				contentType : "application/json",
				data : deletedata,
				dataType : "json",
				
			}).done(function(result, status) {
				location.reload();
				alert("delete "+status);
			}).fail(function(request, status, error) {
				window.location.href = "./board";
				//alert("delete 에러 발생 : " + error);
				//location.href="/index";
			})
		}
	</script>
</head>
<!-- 여기서부터 content 붙여넣기 -->
	<div layout:fragment="content">
		<div class = "board-headcontents">
			<h1 th:text="${board.title}"></h1>
		
			<div class="modifyOrDelete" th:if="${#strings.equals(#authentication.name, email) and !#authentication.name.equals('anonymousUser')}">
				<span>
				<a href="/board/boardModify?id=" th:attrappend="href=${board.id}">수정</a>
				</span> 
				/
				<span><a href="#" onclick="boardDelete();">삭제</a></span>
			</div>
		</div>
		<div th:text="${board.member}"></div>
		<div th:text="|작성일 ${#temporals.format(board.regdate, 'yyyy년 MM월 dd일')}|"></div>
		<div th:text="|조회수 ${board.viewcnt}|"></div>
		<hr>
		<div th:utext="${board.contents}"></div>
		
    </div>
    
	
	
</html>