<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
	 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<!-- 여기서부터 content 붙여넣기 -->
	<div layout:fragment="content">
		<a href="/member/myPage_modify">내 정보 수정하기</a>
        <h2 th:text="${member.name}"></h2>
        <div th:text="${member.email}"></div>
        <div th:text="${member.myinfo}"></div>
        <a th:href = "${member.giturl}" >
        	<i class="fa-solid fa-link"></i>
        </a>
        
        <hr style="color: blue">
        <div class="myProject">나의 프로젝트</div>
        <div th:if="${!#lists.isEmpty(board)}" th:each="board: ${board}">
        	<ul>
        		<li class="myproject-list">
        			<a href="/board/boardDetail?id=" th:attrappend="href=${board.id}" class="myproject-href">
        				<i class="fa-solid fa-heart heartIcon "></i>
        				<span th:text="${board.title}"></span>
        			</a>
        		</li>
        	</ul>
        	
        </div>
        <script>
        	$('#submit').on("click",function () {
	        	var form2 = $("#myform").serialize();
	        	console.log(form2);
        	}
        </script>
    </div>

</html>