@charset "UTF-8";

.project-title {
	
}

.project-info {
	color: black;
	text-decoration-line: none;
}

.project-info:hover {
	color: #a2a3a6;
}

.paging-section {
	display: flex;
	justify-content: center;
}

.paging-numbers{
	padding:10px;
}

/* board detail 페이지 관련 css */
.board-headcontents{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.modifyOrDelete{
	padding-right: 20px;
}